body {
    background: url('https://cdn.pixabay.com/photo/2016/02/17/15/37/laptop-1205256_960_720.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#lck {
    color: #34aadc;
    margin-left: 155px;
}
.frm {
    background-color: rgba(255, 255, 255, 0.685);
    width: 350px;
    border-radius: 10px;
    height: 325px;
    margin-left: 37%;
    margin-top: 110px;
}
#email {
    width: 300px;
    margin-left: 25px;
    margin-top: 5px;
    height: 30px;
    border-radius: 5px;
    border-color: #b6b6b6;
    margin: 1em;
    box-sizing: border-box;
}
#pswd {
    width: 300px;
    margin-left: 25px;
    margin-top: 5px;
    height: 30px;
    border-radius: 5px;
    border-color: #b6b6b6;
    margin: 1em;
    box-sizing: border-box;
}
label {
    font-family: 'Oxanium',cursive;
    color: #0b78fa;
}
.chck {
    margin-left: 10px;  
}
.fgtpsw{    
    margin-left: 11rem;
    margin-top: -22px;
}
.fgtpsw a{
    font-family: 'Oxanium',cursive;
    color: #0b78fa;
    text-decoration: none;
}
#btn1 {
    color: white;
    margin: 1em;
    margin-left: 25px;
    background-color: #0b78fa;
    border-color: #0b78fa;
    height: 40px;
    width: 300px;
    border-radius: 3px;
    font-family: 'Oxanium',cursive;
}
#btn1 a {
    text-decoration: none;
}
#btn1:hover {
    background: #142664;
    border-color: #142664;
}
#btn2 {
    color: white;
    margin: 1em;
    margin-left: 25px;
    background-color: #35aadc;
    border-color: #35aadc;
    height: 40px;
    width: 300px;
    border-radius: 3px;
    font-family: 'Oxanium',cursive;
}
#btn2 a {
    text-decoration: none;
    color: white;
    font-family: 'Oxanium',cursive;
}
#btn2:hover {
    background-color: #0b78fa;
    border-color: #0b78fa;
}
.lckd {
    padding-top: 25px;
}