body {
    margin: 0 0 0 0;
    background-image: url(/img/laptop-1209008_960_720.jpg);
    background: url(/img/laptop-1209008_960_720.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.input-group {
    margin-left: 42%;
    margin-top: 15%;
    background-color: rgb(189 189 189 / 74%);
    width: 206px;
    height: 210px;
    display: flow-root;
    border-radius: 5px;
}
.input-group input {
    border-radius: 5px;
    border-color: white;
}
.input-group button {
    width: 116px;
    margin-left: 47px;
    margin-top: 14px;
    height: 35px;
    background: #0b78fa;
    border-color: #0b78fa;
    border-radius: 3px;
    color: white;
    font-family: 'Oxanium',cursive;
}
.input-group button:hover {
    background-color: #337ed7;
    border-color: #337ed7;
    transition: 0.5s;
}
#username {
    margin: 10px;
    margin-top: 26px;
}
#password {
    margin: 10px;
}
#confpassword {
    margin: 10px;
}
form h4 {
    margin: 10px;
    margin-left: 40px;
    font-family: 'Oxanium',cursive;
    color: #0b78fa;
}